#newFlight{
    
    top: 50%;
        left: 50%;
        width: 30em;
        height: 18em;
        margin-top: -9em;
        margin-left: -15em;
        border: 1px solid #000000;
        position: fixed;
   
    
}

h1 {
    color:var(--theme);
}

label {
    color: var(--theme);
    font-weight: 400;
}

    
