<!--<label>Your accommodation rating</label>
<input type="text" [(ngModel)]="ratingDto.Grade">
<button (click)="rateAccomm()" class="button-regular">Rate</button>
<button (click)="deleteAccommRating()" class="button-regular">Remove Accommodation Rating</button>

<label>Your host rating</label>
<input type="text" [(ngModel)]="ratingDto.Grade">
<button (click)="rateHost()" class="butt on-regular">Rate</button>
<button (click)="deleteHostRating()" class="button-regular">Remove Host Rating</button>

<p>
    {{hostRatingInfo}}
</p>
<p>
    {{accommRatingInfo}}
</p>

<p>{{userHostRatingInfo}}</p>
<p>{{userAccommRatingInfo}}</p>
<p>{{hostRatingInfo}}</p>
<p>{{accommRatingInfo}}</p>
-->
