<app-sidebar></app-sidebar>
<div class="main-content">
   <h1>{{accommodation.name}}</h1>
    <table>
        <tr>
            <td><label for="price">Price:</label></td>
            <td><input class='input-regular' type="number" id="price" [(ngModel)]="accommodation.price" disabled></td>
        </tr>
        <tr>
            <td colspan="2" class="bold-text">Price is defined per {{accommodation.pricePerGuest? 'guest' : 'accommodation'}}</td>
        </tr>   
        <tr *ngIf="accommodation.holidayCost">
            <td class="bold-text" colspan="2">Holiday cost included</td>
        </tr>
        <tr *ngIf="accommodation.weekendCost">
            <td class="bold-text" colspan="2">Weekend cost included</td>
        </tr>
        <tr *ngIf="accommodation.summerCost">
            <td class="bold-text" colspan="2">Summer season cost included</td>
        </tr>
        <tr *ngIf="accommodation.summerCost">
            <td><label for="startSeason">Season Start:</label></td>
            <td><input class='input-regular' type="text" id="startSeason" [(ngModel)]="accommodation.startSeason" disabled></td>
        </tr>
        <tr *ngIf="accommodation.summerCost">
            <td><label for="endSeason">Season End:</label></td>
            <td><input class='input-regular' type="text" id="endSeason" [(ngModel)]="accommodation.endSeason" disabled></td>
        </tr>
        <tr *ngIf="accommodation.isDistinguishedHost">
            <td class="bold-text" colspan="2" id="distinguished-host">Distinguished Host</td>
        </tr>
        <tr>
            <td><label for="offers">Offers:</label></td>
            <td>
                <ul>
                    <li *ngFor="let offer of accommodation.offers">{{offer}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><label for="hostId">Host:</label></td>
            <td><input class='input-regular' type="text" id="hostId" [(ngModel)]="accommodation.hostUsername" disabled></td>
        </tr>
    </table>

    <p>{{accommRatingInfo}}</p>
    <p>{{hostRatingInfo}}</p>
    <table *ngIf="userRole=='REGULAR_USER'">
        <tr>
            <td>
                <span>{{userAccommRatingInfo}}</span>
            </td>
            <td>
                <input [(ngModel)]="createAccommodationRatingDto.grade" class="input-regular"/>
            </td>
            <td>
                <button (click)="rateAccomm()" class="button-regular">{{!hasRatedAccomm? 'Rate' : 'Update Rating'}}</button>
            </td>
            <td>
                <button *ngIf="hasRatedAccomm" (click)="deleteRating(pageRatingInfo[2].id)" class="button-cancel">Remove Rating</button>
            </td>
        </tr>
        <tr>
            <td>
                <span>{{userHostRatingInfo}}</span>
            </td>
            <td>
                <input [(ngModel)]="createHostRatingDto.grade" class="input-regular" />
            </td>
            <td>
                <button (click)="rateHost()" class="button-regular">{{!hasRatedHost? 'Rate' : 'Update Rating'}}</button>
            </td>
            <td>
                <button *ngIf="hasRatedHost" (click)="deleteRating(pageRatingInfo[3].id)" class="button-cancel">Remove Rating</button>
            </td>
        </tr>
    </table>
    <app-ratings [entityId]="accommodation.id" [ratingsFor]="'Accommodation'"></app-ratings><br><br>
    <app-ratings [entityId]="accommodation.hostId" [ratingsFor]="'Host'"></app-ratings>
</div>


