#main-div {
    border: 1px solid #CCD1D1;
    border-radius: 8px;
    
    padding: 2.5% 5% 0% 5%;
    width: 50%;
    margin: 60px auto;
    color: #486A8A;
}


h1 {
    font-size: 32px;
    margin-bottom: 12%;
}

label {
    margin-top: 8%;
    display: block;
    font-size: 20px;
}

input {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 5%;
}

#street-no {
     width: 12%;
}

#offers-label {
    margin-bottom: 20px;
}

button.button-regular {
    display: block;
    text-align: center;
    margin: 50px auto;
}
