<app-sidebar></app-sidebar>
<div class="main-content">
<div id="main-div">
    <div>
        <table>
            <tr>
                <td><label for="location">Location: </label></td>
                <td><input type="text" placeholder="City" class="input-regular" [(ngModel)]='searchDTO.location'/></td>       
                <td><label for="guests">Number of guests: </label></td>
                <td><input type="number" min="0" class="input-regular" [(ngModel)]="searchDTO.numberOfGuests"/></td>
            </tr>
            <tr>
                <td><label for="checkIn">Check in:</label></td>
                <td><input type="date" class="input-regular" [(ngModel)]="searchDTO.checkIn"/></td>
                <td><label for="checkOut">Check out: </label></td>
                <td><input type="date" class="input-regular" [(ngModel)]="searchDTO.checkOut"/></td>
            </tr>
        </table>
        <div id="button-container">
            <button class="button-regular" (click)="search()">Search</button>
            <button class="button-regular" (click)="showAll()" id="reset-search">Reset Search</button>
        </div>
    </div>
    <div id="filter-div">
        <div>
            <label for="lowestPrice">Lower price boundary: </label>
            <input type="number" id="lowestPrice" name="lowestPrice" class="input-regular" min="1" [(ngModel)]="lowestPrice" (change)="filter()"/>
            <label for="highestPrice">Upper price boundary: </label>
            <input type="number" id="highestPrice" name="highestPrice" class="input-regular" min="1" [(ngModel)]="highestPrice"/>
        </div>
        <label for="WiFi">WiFi: </label>
        <input type="checkbox" name="WiFi" [(ngModel)]="wifi"/>
        <label for="IndoorsPool">Indoors pool: </label>
        <input type="checkbox" name="IndoorsPool"  [(ngModel)]="indoors"/>
        <label for="Outdoors">Outdoors pool: </label>
        <input type="checkbox" name="OutdoorsPool" [(ngModel)]="outdoors"/>
        <label for="Netflix">Netflix: </label>
        <input type="checkbox" name="Netflix"  [(ngModel)]="netflix"/>
        <label for="Parties">Parties allowed: </label>
        <input type="checkbox" name="Parties"  [(ngModel)]="parties"/>
        <label for="Kitchen">Kitchen: </label>
        <input type="checkbox" name="Kitchen" [(ngModel)]="kitchen"/>
        <label for="Smoking">Smoking allowed: </label>
        <input type="checkbox" name="Smoking" [(ngModel)]="smoking"/>
        <label for="Pet">Pet friendly: </label>
        <input type="checkbox" name="Pet" [(ngModel)]="pet"/>
        <label for="Sauna">Sauna: </label>
        <input type="checkbox" name="Sauna" [(ngModel)]="sauna"/>
        <label for="Gym">Gym: </label>
        <input type="checkbox" name="Gym"  [(ngModel)]="gym"/>
        <label for="DistinguishedHost">Distinguished host: </label>
        <input type="checkbox" name="DistinguishedHost" [(ngModel)]="isDistinguishedHost"/><br>
        <button class="button-regular" id="filter-button" (click)="filter()">Filter</button>
        <button class="button-regular" (click)="resetFilter(true)">Reset Filter</button>
    </div>
</div>
    <div *ngFor="let accomm of accommodationsToShow" class="card">
        <div class="container">
            <h4><b>{{accomm.name}}</b></h4>
            
                <div *ngIf="accomm.pricePerGuest && !IsSearched">Price per guest:{{accomm.price}}</div>
                <div *ngIf="accomm.pricePerAccomodation  && !IsSearched">Price per accomodation:{{accomm.price}}</div>
                <div *ngIf="IsSearched">Total price for searched period: {{accomm.price}}</div>
            </div>
        <div *ngIf="IsHostLoggedIn() && accomm.hostId==GetUserId()" class="button-card-container">
                <button class="button-regular" (click)="update(accomm.id,accomm.startSeason,accomm.endSeason,accomm.price)">Update Price</button>
        </div>
        <div *ngIf="!IsHostLoggedIn() && IsSearched" class="button-card-container">
            <button class="button-regular" (click)="sendRequest(accomm)">Reserve</button>
        </div>
        <button class="button-regular" (click)="showAccommodation(accomm.id)">See more</button>    
    </div>
</div>
  
