<div id="main-div">
    <div class="container-distinguished">
        <div *ngIf="isHostDistinguished">
            <button class="button-distinguished">Distinguished</button>
        </div>
    </div>
    <div>
        <label for="location">Location: </label>
        <input type="text" placeholder="Street,Number,City,Country" class="input-regular" [(ngModel)]='searchDTO.location'/>
        <label for="guests">Number of guests: </label>
        <input type="number" class="input-regular" [(ngModel)]="searchDTO.numberOfGuests"/>
        <label for="checkIn">Check in: </label>
        <input type="date" class="input-regular" [(ngModel)]="searchDTO.checkIn"/>
        <label for="checkOut">Check out: </label>
        <input type="date" class="input-regular" [(ngModel)]="searchDTO.checkOut"/>
        <div id="button-container">
            <button class="button-regular" (click)="search()">Search</button>
            <button class="button-regular" (click)="showAll()">Show all</button>
        </div>
    </div>
    <div>
        <div>
            <label for="lowestPrice">Lowest price: </label>
            <input type="number" name="lowestPrice" class="input-regular" min="1" [(ngModel)]="lowestPrice" (change)="filter()"/>
            <label for="highestPrice">Highest price: </label>
            <input type="number" name="highestPrice" class="input-regular" min="1" [(ngModel)]="highestPrice"/>
        </div>
        <label for="WiFi">WiFi: </label>
        <input type="checkbox" name="WiFi" [(ngModel)]="wifi"/>
        <label for="IndoorsPool">Indoors pool: </label>
        <input type="checkbox" name="IndoorsPool"  [(ngModel)]="indoors"/>
        <label for="Outdoors">Outdoors pool: </label>
        <input type="checkbox" name="OutdoorsPool" [(ngModel)]="outdoors"/>
        <label for="Netflix">Netflix: </label>
        <input type="checkbox" name="Netflix"  [(ngModel)]="netflix"/>
        <label for="Parties">Parties allowed: </label>
        <input type="checkbox" name="Parties"  [(ngModel)]="parties"/>
        <label for="Kitchen">Kitchen: </label>
        <input type="checkbox" name="Kitchen" [(ngModel)]="kitchen"/>
        <label for="Smoking">Smoking allowed: </label>
        <input type="checkbox" name="Smoking" [(ngModel)]="smoking"/>
        <label for="Pet">Pet friendly: </label>
        <input type="checkbox" name="Pet" [(ngModel)]="pet"/>
        <label for="Sauna">Sauna: </label>
        <input type="checkbox" name="Sauna" [(ngModel)]="sauna"/>
        <label for="Gym">Gym: </label>
        <input type="checkbox" name="Gym"  [(ngModel)]="gym"/>
        <label for="DistinguishedHost">Distinguished host: </label>
        <input type="checkbox" name="DistinguishedHost" [(ngModel)]="isDistinguishedHost"/>
        <button class="button-regular" (click)="filter()">Filter</button>
    </div>
    <div *ngFor="let accomm of accommodationsToShow" class="card">
        <div class="container">
            <h4><b>{{accomm.name}}</b></h4>
            <div *ngIf="accomm.pricePerGuest; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>Price per guest:{{accomm.price}}</ng-template>
                <ng-template #elseBlock>Price per accomodation:{{accomm.price}}</ng-template>
            </div>
            <div *ngIf="IsHostLoggedIn()">
                <button class="button-regular" (click)="update(accomm.id,accomm.startSeason,accomm.endSeason,accomm.price)">Update</button>
            </div>
            <div *ngIf="!IsHostLoggedIn()">
                <button class="button-regular" (click)="sendRequest(accomm.id)">Reserve</button>
            </div>
            <button class="button-regular" (click)="showAccommodation(accomm.id)">See more</button>
            <button class="button-regular" (click)="update(accomm.id,accomm.startSeason,accomm.endSeason,accomm.price)">Update</button>
        </div>
    </div>

  
