<app-sidebar></app-sidebar>
<div class="main-content">
<h1>Requests waiting for your approval</h1>
<table class="regular">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Accommodation</th>
        <th>Number of guests</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let request of requests">
        <td>
            {{request.from | date:'mediumDate'}}
        </td>
        <td>
            {{request.to |  date:'mediumDate'}}
        </td>
        <td>
            {{request.accommodationName}}
        </td>
        <td>
            {{request.numberOfGuests}}
        </td>
        <td *ngIf="request.status == 0">
            <button (click)="acceptRequest(request.id,request.accommodationId)" class="button-regular">Accept</button>
        </td>
    </tr>
</table>
</div>