h1 {
    color: var(--theme);
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 2px solid var(--theme);
    font-size: 46px;
}

#secondPara {
    border-bottom: 2px solid var(--theme);
    padding-bottom: 30px;
}

#flights {
    margin-top: 3.5%;
}

#flights > h2 {
    color: var(--theme);
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 32px;
}

label { 
    color: var(--theme);
    font-weight: 400;
    margin-right: 14px;
}

#departureTime {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 8px;
}

#arrivalLabel {
    margin-left: 20px;
}

#departurePoint {
    margin-left: 65px;
}

#searchButton {
    margin-left: 24px;
    margin-right: 12px;
}

#flight-cards-wrapper {
    padding-left: 14%;
}

#numOfPassengers {
    margin-left: 1.3%;
}