h1 {
    color: var(--theme);
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 2px solid var(--theme);
}

#flights {
    margin-top: 10%;
}

#flights > h2 {
    color: var(--theme);
}
