:root {
    --theme: #2183D3;
  }


* {
    font-family: "Arial", monospace;
}

.main-content {
    position: absolute;
    top: 0;
    left: 21%;
    height: 100%;
    width: 76%; 
    padding-left: 2%;
}

.errorMessage {
    color: red;
    font-weight: 300;
}

.inputRegular {
    height: 25px;
    border-radius: 4px;
    border: 2px solid #D5DBDB;
    outline: none;
    transition: all 0.3s ease;
}

.inputRegular:focus {
    border-color: var(--theme);
}

.regularButton {
    padding: 8px 18px;
    border-radius: 5px;
    transition: all 0.2s ease;
    color:var(--theme);
    border-color: var(--theme);
    background-color: white;
    box-shadow: none;
    border: 2px solid var(--theme);
}

.regularButton:hover{
    cursor: pointer;
    color:white;
    background-color: var(--theme);
}