<div id="sidebar">
    <p [style.visibility]="loggedIn? 'visible' : 'hidden'">
        Welcome, {{username}}!
    </p>
    <button (click)="logIn()" class="regularButton"  [style.visibility]="loggedIn? 'hidden' : 'visible'">
        Log In
    </button>
    <p [style.visibility]="loggedIn? 'hidden' : 'visible'" id="create-account">Don't have an account?<br><span (click)="goToRegistration()" id="create-account-span"><u>Create one here!</u></span></p>
    <button (click)="logOut()" id="logout" class="regularButton" [style.visibility]="loggedIn? 'visible' : 'hidden'">
        Log Out
    </button>
</div>
