<div id="sidebar">
    <p [style.visibility]="loggedIn? 'visible' : 'hidden'">
        Welcome, {{username}}!
    </p>
    <div id="sidebar-options">
        <div id="sidebar-option" *ngIf="loggedIn" (click)="changeRoute('/home')">Home</div>
        <div id="sidebar-option" *ngIf="loggedIn && userRole == 'ADMIN'" (click)="changeRoute('/new-flight')">Create a flight</div>
        <div id="sidebar-option" *ngIf="loggedIn && userRole == 'REGULAR_USER'" (click)="changeRoute('/purchase-tickets-regular')" >Purchse a ticket</div>
        <div id="sidebar-option" *ngIf="loggedIn && userRole == 'REGULAR_USER'" (click)="changeRoute('/view-bought-tickets')">View tickets</div>
        <div id="sidebar-option" (click)="changeRoute('/purchase-tickets-api')">Purchase With Key</div>
    </div>
    <button (click)="logIn()" class="regularButton"  [style.visibility]="loggedIn? 'hidden' : 'visible'" id="login">
        Log In
    </button>
    <p [style.visibility]="loggedIn? 'hidden' : 'visible'" id="create-account">Don't have an account?<br><span (click)="goToRegistration()" id="create-account-span"><u>Create one here!</u></span></p>
    <button (click)="logOut()" id="logout" class="regularButton" [style.visibility]="loggedIn? 'visible' : 'hidden'">
        Log Out
    </button>
</div>
