#ticket{
 padding: 16px;
 box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
 border-radius: 16px;
}
#ticket-line-1{
  margin-bottom: 8px;
  display: flex;
  font-size: 20px;
}
#ticket-line-2{
  display:flex;
  margin-bottom: 8px;
  justify-content: space-between;
}
#ticket-line-3{
  display: flex;
  justify-content: space-between;
}
#bought-tickets{
  display:grid; 
  gap:32px;
  grid-template-columns: repeat(3,minmax(0,1fr));
}