<app-sidebar></app-sidebar>
<div class="main-content">
<h1>Your reservations</h1>
<table class="regular">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Accommodation</th>
        <th>Number of guests</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let reservation of reservations">
        <td>
            {{reservation.from | date:'mediumDate'}}
        </td>
        <td>
            {{reservation.to |  date:'mediumDate'}}
        </td>
        <td>
            {{reservation.accommodationName}}
        </td>
        <td>
            {{reservation.numberOfGuests}}
        </td>
        <td>
            {{reservation.status==1? 'past' : (reservation.status==2? 'cancelled' : 'scheduled')}}
        </td>
        <td>
            <button *ngIf="reservation.status==0" class="button-cancel" (click)="cancelReservation(reservation)">Cancel</button>
        </td>
        <td>
            <button *ngIf="reservation.status==0" class="button-regular" (click)="getRecommendations(reservation)">Get Recommendations</button>
        </td>
    </tr>
</table>
</div>
