* {
    font-family: "Arial", monospace;
}

.input-regular {
    border-radius: 4px;
    border: 2px solid #D5DBDB;
    outline: none;
    height: 30px;
    
    box-shadow: 0px 4px 4px -3px #CCDAE9;
    
    transition: 0.3s ease;
}

.input-regular:focus {
    border-color: #486A8A;
}

.button-regular {
    background-color: #486A8A;
    color:white;
    border:1px solid #486A8A;
    border-radius: 4px;
    transition: 0.2s ease;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 20px;
}

.button-regular:hover {
    cursor: pointer;
    color: #486A8A;
    background-color: white;
}

.error-message {
    color: #FF3B3B;
}