* {
    font-family: "Arial", monospace;
}

:root {
    --theme: #486A8A;
}

.main-content {
    position: absolute;
    top: 0;
    left: 21%;
    height: 100%;
    width: 76%; 
    padding-left: 2%;
}

.input-regular {
    border-radius: 4px;
    border: 2px solid #D5DBDB;
    outline: none;
    height: 30px;
    
    box-shadow: 0px 4px 4px -3px #CCDAE9;
    
    transition: 0.3s ease;
}

.input-regular:focus {
    border-color: #486A8A;
}

.button-regular {
    background-color: #486A8A;
    color:white;
    border:1px solid #486A8A;
    border-radius: 4px;
    transition: 0.2s ease;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 20px;
}

.button-regular:hover {
    cursor: pointer;
    color: #486A8A;
    background-color: white;
}

.button-cancel {
    background-color: red;
    color:white;
    border:1px solid red;
    border-radius: 4px;
    transition: 0.2s ease;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 20px;
}

.button-cancel:hover {
    cursor: pointer;
    color: red;
    background-color: white;
}

.error-message {
    color: #FF3B3B;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table.regular {
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
  }
  
  table.regular tr:first-child {
    background-color: var(--theme);
    color: white;
  }
  
  table.regular td, th {
    text-align: center;
    font-weight: 200;
    padding: 0 6px;
  }
  
  table.regular tr {
    height: 60px;
    background-color: #EEF1F6;
    transition: .2s ease;
  }
  
  table.regular tr:not(:first-child):hover {
    background-color: #E6EBF3 ;
    cursor: pointer;
  }
  