<h2>Vacation Details</h2>
<table>
    <tr>
      <td><label>From:</label></td>
      <td><input class="input-regular" type="text" [disabled]="true" [value]="formatReservationDate(reservation.from)" /></td>  
      <td><label class="second-td">To:</label></td>
      <td><input class="input-regular" type="text" [disabled]="true" [value]="formatReservationDate(reservation.to)" /></td>
    </tr>
    <tr>
      <td><label>Accommodation Name:</label></td>
      <td><input class="input-regular" type="text" [disabled]="true" [value]="reservation.accommodationName" /></td>   
      <td><label class="second-td">Accommodation Location:</label></td>
      <td><input class="input-regular" type="text" [disabled]="true" [value]="reservation.accommodationLocation" /></td>
    </tr>
    <tr>
      <td><label>Number of Guests:</label></td>
      <td><input class="input-regular" type="text" [disabled]="true" [value]="reservation.numberOfGuests" /></td>
      <td><label class="second-td">Price:</label></td>
      <td><input class="input-regular" type="text" [disabled]="true" [value]="reservation.price" /></td>
    </tr>
  </table>
 
  
<h2 id="second-heading">Get Flight Recommendations</h2>
<table id="recommendation-from">
    <tr>
      <td>
        <label for="departurePoint">Enter the city you would like to depart from to get to {{reservation.accommodationLocation}}:</label>
      </td>
      <td>
        <input class="input-regular" type="text" id="departurePoint" [(ngModel)]="arrivalFlightDeparturePoint" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="arrivalPoint">Enter the city you would like to land in on your way back from the vacation:</label>
      </td>
      <td>
        <input class="input-regular" type="text" id="arrivalPoint" [(ngModel)]="departureFlightArrivalPoint" />
      </td>
    </tr>
  </table>
  <button class="button-regular" (click)="getRecommendations()">Get Recommendations</button>
  