th, td {
    border: none
}

tr {
    color: var(--theme);
    font-weight: 500;
}

table {
    border-collapse: collapse;
}

h3 {
    color: var(--theme);
}

button {
    color: var(--theme);
    background-color: white;
    border:none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}